##  Glassdoor DS Jobs Data Cleaning
-   This notebook  Jupyter notebook dedicated to cleaning and analyzing a dataset of data science jobs from Glassdoor. The primary goal of this project is to prepare the dataset for further analysis and insights into the data science job market.

### Setting Up the Environment
-   Install the Kaggle library which will be used to download the dataset directly from Kaggle

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\oby\anaconda3\lib\site-packages (1.5.16)
Requirement already satisfied: six>=1.10 in c:\users\oby\appdata\roaming\python\python311\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\oby\anaconda3\lib\site-packages (from kaggle) (2023.11.17)
Requirement already satisfied: python-dateutil in c:\users\oby\appdata\roaming\python\python311\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\oby\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\oby\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\oby\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\oby\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\oby\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\oby\appdata\roaming\python\python311\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\oby\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\oby\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\oby\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\oby\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\oby\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)

### Searching for Datasets
-   Using the Kaggle API to search for datasets related to 'Glassdoor'. This helps in identifying the relevant dataset for our analysis.

In [ ]:
!kaggle datasets list -s 'Glassdoor'

ref                                                            title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------------  -------------------------------------------------  ------  -------------------  -------------  ---------  ---------------
davidgauthier/glassdoor-job-reviews                            Glassdoor Job Reviews                                84MB  2023-07-04 07:01:00           3371         58  1.0
nilimajauhari/glassdoor-analyze-gender-pay-gap                 Glassdoor- Analyze Gender Pay Gap                    13KB  2020-09-12 10:29:56           5388        101  1.0
andresionek/data-jobs-listings-glassdoor                       Data Jobs Listings - Glassdoor                      452MB  2019-11-21 19:55:11           2107         62  0.9705882
andrewmvd/data-analyst-jobs                                    Data Analyst Jobs                                     2MB  2020-07-14 08:37:57          19087        546  1.0
rashikrahmanpritom/data-science-job-posting-on-glassdoor       Data Science Job Posting on Glassdoor                 2MB  2021-03-09 09:02:45           8343         93  0.8235294
rrkcoder/glassdoor-data-science-job-listings                   Glassdoor Data Science Job Listings                 624KB  2023-10-11 04:01:27            479         30  1.0
andrewmvd/data-scientist-jobs                                  Data Scientist Jobs                                   4MB  2020-07-16 04:04:58           4426        102  1.0
rashikrahmanpritom/heart-attack-analysis-prediction-dataset    Heart Attack Analysis & Prediction Dataset            4KB  2021-03-22 11:40:59         161653       3471  1.0
joyshil0599/glassdoor-company-insightsscraped-data-collection  USA Company Insights: Glassdoor Scraped Data 2023     3MB  2023-05-11 18:03:49            522         29  1.0
selvynmartinez/2019-data-analyst-jobcsv                        Glassdoor Data Analyst Postings 2019                477KB  2021-06-15 20:11:41            354         14  1.0
andrewmvd/data-engineer-jobs                                   Data Engineer Jobs                                    3MB  2020-07-18 05:17:39           2240         39  1.0
nadzmiagthomas/australia-data-science-jobs                     Australia Data Science Jobs                           3MB  2022-12-18 11:27:18           2347         46  0.9705882
milan400/glassdoordata-scientist                               GlassDoor(Data Scientist)                          1016KB  2020-08-01 06:17:16            209         10  0.9117647
defrinogionaldo/glassdoor-jobs-data-analysis                   Glassdoor Jobs Data Analysis                        159KB  2020-10-14 04:13:08            429          9  0.85294116
andrewmvd/business-analyst-jobs                                Business Analyst Job Listings                         4MB  2020-07-17 11:41:05           2052         44  1.0
atharvap329/glassdoor-data-science-job-data                    Glassdoor Job Postings : Data Science                 3MB  2020-05-12 12:27:35           1218         27  0.7352941
mdkamruzzaman23/machine-learning-job-listings-on-glassdoor     Machine Learning Job Listings on Glassdoor            7KB  2023-02-26 07:34:14             56         11  1.0
prasertk/glassdoor-best-jobs-in-usa-from-20152021              Glassdoor 50 best jobs in USA from 2015-2021          4KB  2022-01-09 02:09:07            316         12  1.0
rkb0023/glassdoor-data-science-jobs                            Glassdoor Data Science Jobs                           1MB  2020-06-02 01:56:15            327         10  0.4117647
sunayanagawde/jobs-in-india-from-glassdoor                     Jobs in India from Glassdoor                         23KB  2022-12-30 13:55:36             51         12  0.9411765

### Downloading the Dataset
-   Downloading the specific Glassdoor dataset from Kaggle using the identified dataset name. This dataset will be used for the data cleaning process.

In [ ]:
!kaggle datasets download -d "rashikrahmanpritom/data-science-job-posting-on-glassdoor"

data-science-job-posting-on-glassdoor.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
import zipfile
with zipfile.ZipFile("data-science-job-posting-on-glassdoor.zip", "r") as file:
    file.extractall("glassdoor")

In [ ]:
import os
os.listdir("glassdoor")

['Cleaned_DS_Jobs.csv', 'Uncleaned_DS_jobs.csv']

### Importing Libraries
-   Importing necessary Python libraries and modules. These libraries provide various functions and tools needed for data manipulation and analysis.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df = pd.read_csv("glassdoor/Uncleaned_DS_jobs.csv")
df.head(5)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

### Dataset Overview
-   Performing basic exploration of the dataset to understand its structure, columns, and basic statistics. This includes viewing data types, summary statistics, and other relevant information.

In [ ]:
#Examine the data's size, shape, and structure
# #Obtain the shape of the data
df.info()
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB
(672, 15)

In [ ]:
#View the missing values in the dataset
df.isna().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

### Data Cleaning
-   Cleaning the dataset by handling missing values, removing unnecessary columns, or replacing incorrect values. This step is crucial for ensuring the quality and accuracy of the data.

In [ ]:
#Check duplicates
dupe = df.duplicated().any()
print (dupe)

False

In [ ]:
# Change the naming style on the column names 
df.columns=df.columns.str.replace(' ','_')

In [ ]:
# Remove newline characters from all columns
df = df.applymap(lambda x: x.replace('\n', '') if isinstance(x, str) else x)

In [ ]:
# Removing the ratings from the 'Company_Name' column
# This regex matches a sequence of digits (\d+), followed by a decimal point (\.), and then more digits (\d+), at the end of the string ($)
df['Company_Name'] = df['Company_Name'].str.replace(r'\d+\.\d+$', '', regex=True)

In [ ]:
#Clean the salary estimate column
# Function to convert K-format salary to numeric
def k_to_numeric(value):
    if pd.isna(value):
        return None
    if 'K' in value:
        return float(value.replace('K', '').replace('$', '')) * 1000
    return float(value)

# Cleaning the 'Salary Estimate' column
df['Minimum_Salary'] = df['Salary_Estimate'].str.extract(r'(\$\d+K)-').squeeze().apply(k_to_numeric)
df['Maximum_Salary'] = df['Salary_Estimate'].str.extract(r'-(\$\d+K)').squeeze().apply(k_to_numeric)

# Calculating the average salary
df['Average_Salary'] = df[['Minimum_Salary', 'Maximum_Salary']].mean(axis=1)

#Drop the salary estimate column
df = df.drop ('Salary_Estimate', axis=1)

In [ ]:
# Examine the Location column to check the unique values
df['Location'].unique()

array(['New York, NY', 'Chantilly, VA', 'Boston, MA', 'Newton, MA',
       'Santa Barbara, CA', 'Cambridge, MA', 'Bedford, MA',
       'San Diego, CA', 'Chicago, IL', 'Herndon, VA', 'Saint Louis, MO',
       'Richland, WA', 'Northbrook, IL', 'Washington, DC', 'Remote',
       'Memphis, TN', 'Plano, TX', 'West Grove, PA', 'Phoenix, AZ',
       'Appleton, WI', 'Atlanta, GA', 'Orlando, FL', 'Lexington, MA',
       'McLean, VA', 'San Francisco, CA', 'Sheboygan, WI',
       'United States', 'Bothell, WA', 'Lincoln, NE', 'Overland Park, KS',
       'Santa Monica, CA', 'Portsmouth, NH', 'Ewing, NJ',
       'South San Francisco, CA', 'Palo Alto, CA', 'Bellevue, WA',
       'New Orleans, LA', 'Akron, OH', 'Fort Wayne, IN', 'Woburn, MA',
       'Carson, CA', 'Coral Gables, FL', 'Santa Clara, CA',
       'Brisbane, CA', 'Winter Park, FL', 'Redwood City, CA',
       'Peoria, IL', 'Ipswich, MA', 'Carmel, IN', 'Emeryville, CA',
       'Gaithersburg, MD', 'Longmont, CO', 'Austin, TX', 'Yakima, WA',
       'Santa Cruz, CA', 'Springfield, VA', 'Alexandria, VA', 'Utah',
       'Reston, VA', 'Denver, CO', 'New Jersey', 'Aurora, CO',
       'Hill AFB, UT', 'Chandler, AZ', 'Indianapolis, IN',
       'Nashville, TN', 'Timonium, MD', 'Burlingame, CA',
       'Annapolis Junction, MD', 'Bethesda, MD', 'Dayton, OH',
       'Schaumburg, IL', 'Cupertino, CA', 'Lehi, UT', 'Culver City, CA',
       'Lake Oswego, OR', 'San Mateo, CA', 'Holyoke, MA',
       'Woodbridge, NJ', 'Dearborn, MI', 'Maryland Heights, MO',
       'Rockville, MD', 'Carpinteria, CA', 'Columbia, SC',
       'Hauppauge, NY', 'Fort Meade, MD', 'Columbia, MO', 'Vicksburg, MS',
       'Birmingham, AL', 'Blue Bell, PA', 'Cincinnati, OH',
       'Harrisburg, PA', 'Oak Ridge, TN', 'San Carlos, CA', 'Waltham, MA',
       'Fort Worth, TX', 'Smithfield, RI', 'Cedar Rapids, IA',
       'Fort Belvoir, VA', 'Linthicum Heights, MD', 'Maple Plain, MN',
       'Tulsa, OK', 'Baltimore, MD', 'Oklahoma City, OK',
       'Scotts Valley, CA', 'Spartanburg, SC', 'Hartford, CT',
       'Beavercreek, OH', 'Norfolk, VA', 'Charlotte, NC', 'Champaign, IL',
       'Texas', 'Hoboken, NJ', 'Lebanon, IN', 'Oakland, CA',
       'Melbourne, FL', 'Cleveland, OH', 'Norwell, MA', 'San Jose, CA',
       'Piscataway, NJ', 'Danvers, MA', 'Vienna, VA', 'Livermore, CA',
       'Pittsburgh, PA', 'Irvine, CA', 'Oshkosh, WI', 'Menlo Park, CA',
       'Dallas, TX', 'Arlington, VA', 'Monroe, WI', 'Sacramento, CA',
       'Hampton, VA', 'Richmond, VA', 'Monterey, CA', 'Woodlawn, MD',
       'Ann Arbor, MI', 'Concord, CA', 'Durham, NC', 'Kent, OH',
       'Laurel, MD', 'Columbia, MD', 'Falls Church, VA',
       'Thousand Oaks, CA', 'Edison, NJ', 'Adelphi, MD', 'Seattle, WA',
       'Sunnyvale, CA', 'Fremont, CA', 'Hamilton, NJ', 'Huntsville, AL',
       'Merrifield, VA', 'Madison, WI', 'Philadelphia, PA',
       'Winston-Salem, NC', 'Raleigh, NC', 'Burbank, CA', 'San Ramon, CA',
       'Oxnard, CA', 'Kansas City, MO', 'Jersey City, NJ',
       'Manchester, NH', 'Winters, TX', 'Brooklyn, NY', 'Germantown, MD',
       'Omaha, NE', 'Open Fork, VA', 'Ashburn, VA', 'Lombard, IL',
       'Alpharetta, GA', 'Boulder, CO', 'Mountain View, CA',
       'Trumbull, CT', 'Sterling, VA', 'Foster City, CA', 'Frederick, MD',
       'Colorado Springs, CO', 'Southfield, MI', 'San Clemente, CA',
       'The Woodlands, TX', 'Pleasanton, CA', 'Wilmington, DE',
       'Fort Sam Houston, TX', 'Lexington Park, MD',
       'Patuxent, Anne Arundel, MD', 'Fairfax, VA', 'San Antonio, TX',
       'Silver Spring, MD', 'Portland, OR', 'Simi Valley, CA',
       'New Bedford, MA', 'Rancho Cucamonga, CA', 'Collegeville, PA',
       'Minneapolis, MN', 'Gahanna, OH', 'California', 'Wellesley, MA',
       'Washington, VA', 'Orange, CA', 'Bridgeport, WV', 'Oakville, CA',
       'Naperville, IL', 'Houston, TX', 'Redmond, WA', 'West Chester, PA',
       'Quantico, VA', 'Fort Lee, NJ', 'Irwindale, CA'], dtype=object)

In [ ]:
#Reorder the columns in the dataframe
# State codes mapping
state_codes = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 
    'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 
    'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 
    'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'US': 'United States', 'VT': 'Vermont', 
    'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'
}

# Invert the mapping
state_codes = {v: k for k, v in state_codes.items()}

# Extract city and state
df['City'] = df['Location'].str.split(', ').str[0]
df['Job State'] = df['Location'].str.split(', ').str[-1]

# Convert full state names to codes and handle unmapped states
df['Job State'] = df['Job State'].apply(lambda x: state_codes.get(x, x))

# Remove rows for 'Remote' and 'Utah'
df = df[~df['Location'].str.contains('Remote|Utah', na=False)]

# Drop the original 'Location' column
df.drop('Location', axis=1, inplace=True)

In [ ]:
#Split the 'Headquarters' column into 'City' and 'State/Country'.
#Handle special cases like '-1' appropriately.
# Split 'Headquarters' into 'City' and 'State/Country'
df[['HQ_City', 'Country_HQ']] = df['Headquarters'].str.split(', ', expand=True)

# Drop the temporary Headquarters column
df.drop('Headquarters', axis=1, inplace=True)

In [ ]:
from datetime import datetime
import numpy as np
df['Founded']=np.where(df['Founded']==-1,0,df['Founded'])
# Calculate the company age using the current year
current_year = datetime.now().year
df['company_age'] = current_year - df['Founded']
df.drop('Founded', axis=1, inplace=True)

In [ ]:
# Examine the Location column to check the unique values
df['Job_Title'].value_counts()[:50]

Job_Title
Data Scientist                                                                                      337
Data Engineer                                                                                        26
Senior Data Scientist                                                                                19
Machine Learning Engineer                                                                            14
Data Analyst                                                                                         12
Senior Data Analyst                                                                                   6
Senior Data Engineer                                                                                  5
ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR      4
Data Science Software Engineer                                                                        4
Data Scientist - TS/SCI FSP or CI Required                                                            4
Data Scientist - TS/SCI Required                                                                      3
Principal Data Scientist                                                                              3
Senior Business Intelligence Analyst                                                                  3
AI Ops Data Scientist                                                                                 3
Data Modeler (Analytical Systems)                                                                     3
Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab                                   3
Analytics - Business Assurance Data Analyst                                                           3
Sr. ML/Data Scientist - AI/NLP/Chatbot                                                                3
Senior Machine Learning Scientist - Bay Area, CA                                                      3
Lead Data Scientist                                                                                   3
Decision Scientist                                                                                    3
Data Engineer - Kafka                                                                                 2
Applied Computer Scientist                                                                            2
Scientist / Group Lead, Cancer Biology                                                                2
Data Scientist(s)/Machine Learning Engineer                                                           2
Research Scientist - Patient-Centered Research (Remote)                                               2
Sr. Data Scientist II                                                                                 2
Computational Behavioral Scientist                                                                    2
Principal Data Scientist - Machine Learning                                                           2
Principal Machine Learning Scientist                                                                  2
Senior Data Scientist - R&D Oncology                                                                  2
Health Plan Data Analyst, Sr                                                                          2
Senior Machine Learning Engineer                                                                      2
Senior Scientist - Toxicologist - Product Integrity (Stewardship)                                     2
Cloud Data Engineer (Azure)                                                                           2
In-Line Inspection Data Analyst                                                                       2
VP, Data Science                                                                                      2
Weapons and Sensors Engineer/Scientist                                                                2
Data Scientist (TS/SCI w/ Poly)                                                                       2
Computer Vision / Deep Learning Scientist                                                             2
IT Partner Digital Health Technology and Data Science                                                 2
Senior Data Analyst - Finance & Platform Analytics                                                    2
Data Engineer (Analytics, SQL, Python, AWS)                                                           2
Intelligence Data Analyst, Senior                                                                     2
Analytics Manager - Data Mart                                                                         2
Sr. Data Scientist                                                                                    2
Scientist - Machine Learning                                                                          2
Machine Learning Engineer/Scientist                                                                   2
Data Analyst - Unilever Prestige                                                                      2
Sr Data Scientist                                                                                     2
Name: count, dtype: int64

###  Simplifying Job Titles
-   Define the `title_simplifier` function. This function is designed to categorize various job titles into broader, standardized categories. It simplifies the job titles by searching for key terms within each title and assigning a more generalized title. This is particularly useful in standardizing the data for analysis, ensuring that similar job titles are grouped together.

-   For example, any title containing 'data scientist' is categorized as 'Data Scientist', and similar logic is applied for other roles like 'Data Engineer', 'Data Analyst', etc. This simplification process aids in making the dataset more uniform and easier to analyze.

-   After defining the function, we apply it to the 'Job_Title' column of our DataFrame, creating a new column 'job_title_simp' that holds the simplified job titles.

In [ ]:
# Define the title_simplifier function
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'Data Scientist'
    elif 'data engineer' in title.lower():
        return 'Data Engineer'
    elif 'analyst' in title.lower():
        return 'Data Analyst'
    elif 'machine learning' in title.lower():
        return 'Machine Learning Engineer'
    elif 'manager' in title.lower():
        return 'Manager'
    elif 'director' in title.lower():
        return 'director'
    elif 'vice president' in title.lower():
        return 'VP'
    elif 'data modeler' in title.lower():
        return 'Data Engineer'
    elif 'data integration' in title.lower():
        return 'Data Engineer'
    elif 'statistical scientist' in title.lower():
        return 'Data Scientist'
    elif 'Analytics' in title.lower():
        return 'Data Analyst'
    elif 'Architect' in title.lower():
        return 'Data Engineer'
    else:
        return 'NA'


# Apply the title_simplifier function to the 'Job_Title' column
df['job_title_simp'] = df['Job_Title'].apply(title_simplifier)

In [ ]:
df['Revenue'].unique()

array(['Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)', '-1'], dtype=object)

### Categorizing Company Revenue
-   This section introduces the `categorize_revenue_dict` function, which is designed to categorize company revenue into more manageable groups. The function takes a revenue string as input and returns a simplified revenue category. This categorization is based on predefined revenue ranges stored in a dictionary, making the function easy to read and modify if necessary.

-   The dictionary `revenue_ranges` defines several revenue brackets, such as "1 to 10+ Billion USD", "25 to 999 Million USD", and others, which help in standardizing revenue data into broader categories. This is particularly useful for analysis purposes, as it simplifies the diversity of revenue figures into a few standard categories, making it easier to perform comparisons and draw insights.

-   After defining this function, it is appied to the 'Revenue' column in our DataFrame. The result is stored in a new column, 'Revenue_Category', which contains the categorized revenue data. This step is crucial for preparing the dataset for further analysis where revenue categories might play a significant role.

In [ ]:

def categorize_revenue_dict(revenue):
 """
 Categorizes revenue based on predefined ranges using a dictionary for better readability.

 Args:
     revenue: A string representing the revenue amount.

 Returns:
     A string representing the categorized revenue range.
 """

 revenue_ranges = {
     "Unknown / Non-Applicable": "Unknown",
     "['$1 to $2 billion (USD)', '$2 to $5 billion (USD)', '$5 to $10 billion (USD)', '$10+ Billion (USD)']": "1 to 10+ Billion USD",
     "['$500 million to $1 billion (USD)', '$100 to $500 million (USD)', '$50 to $100 million (USD)', '$25 to $50 million (USD)']": "25 to 999 Million USD",
     "['$10 to $25 million (USD)', '$5 to $10 million (USD)', '$1 to $5 million (USD)']": "25 to 900 Million USD",
     "Less than $1 million (USD)": "Less than a million USD",
 }

 for range_str, category in revenue_ranges.items():
   if revenue in range_str:
     return category

 return "Other"

# Apply the function to your DataFrame
df['Revenue_Category'] = df['Revenue'].apply(categorize_revenue_dict)

In [ ]:
df['Competitors'].unique()

array(['EmblemHealth, UnitedHealth Group, Aetna', '-1',
       'MKS Instruments, Pfeiffer Vacuum, Agilent Technologies',
       'Commerce Signals, Cardlytics, Yodlee',
       'Square, PayPal, H&R Block',
       'Leidos, CACI International, Booz Allen Hamilton',
       'Slalom, Daugherty Business Solutions',
       'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory',
       'CDW, PCM, SHI International',
       'Crossix Solutions Inc., AppNexus, The Trade Desk',
       'Northwestern Mutual', 'Puppet, Ansible, SaltStack',
       'Enlivant, Sunrise Senior Living, Brookdale Senior Living',
       'TrueCar, Cars.com, Kelley Blue Book',
       'Travelers, Allstate, State Farm', 'Novartis, Baxter, Pfizer',
       'Skyhigh Networks, Zscaler, NortonLifeLock',
       'Facebook, Google, Pinterest', 'DoorDash, Uber, Grubhub',
       'Munich Re, Hannover RE, SCOR', "IMAGE Skincare, Aveda, Kiehl's",
       'Luxoft, EPAM, Capgemini Invent', 'Sequenom',
       'Linqia, Collective Bias', 'John Deere, Komatsu, CNH Industrial',
       'Thermo Fisher Scientific, Enzymatics, Illumina',
       'CUNA Mutual, SWBC, Overby-Seawell', 'Zola Registry',
       'Colony Specialty, Markel, RLI',
       'Roche, GlaxoSmithKline, Novartis',
       'Solution Design Group, Intertech (Minnesota)',
       'Braintree, Authorize.Net, PayPal', 'Nielsen, Zappi, SurveyMonkey',
       'The World Bank, IMF', 'Booz Allen Hamilton, CACI International',
       'Booz Allen Hamilton, SAIC, LMI', 'Epic, CipherHealth',
       'Copper River Shared Services, Chenega Corporation, Deloitte',
       'Battelle, General Atomics, SAIC', 'IQVIA, ICON',
       'Arbella Insurance, Safety Insurance',
       'Engagio, Bombora, Terminus', 'SAIC, Leidos, Northrop Grumman',
       'Bosch, Lear Corporation, Faurecia', 'Covance, ICON',
       'Adecco, ManpowerGroup, Allegis Corporation',
       'GE Digital, Palantir Technologies, Uptake', 'PRA Group',
       'Genomic Health, 23andMe, Illumina',
       'Bromium, FireEye, Authentic8', 'Drip, iContact, Mailchimp',
       "Children's Health, Texas Health Resources, Baylor Scott & White Health",
       'Harris, Fibertek', 'Monster Worldwide, CareerBuilder, Craigslist',
       'Los Alamos National Laboratory, Battelle, SRI International',
       'ManTech, Booz Allen Hamilton, Leidos',
       'Lumentum Operations, Keysight Technologies, O-Net Technologies',
       'Square, Amazon, Apple', 'Pfizer, GlaxoSmithKline',
       'DHL Supply Chain, UPS, FedEx',
       'Raytheon Technologies, General Dynamics, MIT Lincoln Laboratory',
       'Eaton, SMC Corporation, Bosch Rexroth',
       'Advisory Board, Booz Allen Hamilton, McKinsey & Company',
       'Amazon, Apple', 'Covidien, Boston Scientific', 'AT&T, Verizon',
       'Los Alamos National Laboratory, NASA Jet Propulsion Laboratory, Sandia National Laboratories',
       'Fluor, Bechtel, AECOM', 'Intertek, SGS, Bureau Veritas',
       'Lockheed Martin, Caterpillar, John Deere',
       'Activision Blizzard, Electronic Arts',
       'MediaMath, Conversant, AppNexus', 'Pfizer, AstraZeneca, Merck',
       'Archibus, iOffice, Planon',
       'ACRT Services, Bartlett Tree Experts',
       'TASC, Vencore, Booz Allen Hamilton',
       'Seagate Technology, Toshiba',
       'Raytheon Technologies, Northrop Grumman, Booz Allen Hamilton',
       'MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman',
       'Kforce, PageGroup, Robert Half',
       'TEKsystems, Kforce, Randstad US',
       'South Carolina Electric & Gas, Virginia Electric and Power',
       'Cadence Design Systems, Synopsys, Altium Limited',
       'CGI (Nevada), Accenture, Deloitte', 'Accenture, Deloitte, PwC',
       'Bechtel Jacobs, Black & Veatch, HNTB', 'Adecco, Manpower',
       'Acxiom, Merkle, Epsilon (North Carolina)',
       'Amazon, Accenture, Microsoft',
       'Booz Allen Hamilton, Deloitte, ERPi',
       'TEKsystems, Insight Global, Accenture',
       'H&M, Inditex, Fast Retailing',
       'Novartis, AstraZeneca, Siemens Healthineers',
       'Aquent, 24 Seven Talent',
       'Google, Microsoft, Samsung Electronics',
       'AppDynamics, Datadog, Dynatrace',
       'Liberty Mutual Insurance, EMPLOYERS, Travelers',
       'KPMG, Accenture, Deloitte',
       'General Atomics, Boeing, Northrop Grumman',
       'Los Alamos National Laboratory, Lawrence Livermore National Laboratory',
       'Cognizant Technology Solutions, Infosys, Wipro', 'Humana',
       'Accenture, Northrop Grumman, Xerox',
       'United Natural Foods, US Foods, DPI Specialty Foods',
       'LivePerson, Salesforce, SAP', 'Zurich Insurance, AXA XL, Allianz',
       'CSC, ManTech, SAIC',
       'Genomic Health, Myriad Genetics, The Broad Institute'],
      dtype=object)

In [ ]:
#Drop the salary estimate column
df = df.drop ('Competitors', axis=1)

In [ ]:
df.head(5)

,index,Job_Title,Job_Description,Rating,Company_Name,Size,Type_of_ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,City,Job State,HQ_City,Country_HQ,company_age,job_title_simp,Revenue_Category
0,0,Sr Data Scientist,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137000.0,171000.0,154000.0,New York,NY,New York,NY,30,Data Scientist,Unknown
1,1,Data Scientist,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137000.0,171000.0,154000.0,Chantilly,VA,Herndon,VA,55,Data Scientist,1 to 10+ Billion USD
2,2,Data Scientist,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137000.0,171000.0,154000.0,Boston,MA,Boston,MA,42,Data Scientist,25 to 999 Million USD
3,3,Data Scientist,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137000.0,171000.0,154000.0,Newton,MA,Bad Ragaz,Switzerland,23,Data Scientist,25 to 999 Million USD
4,4,Data Scientist,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137000.0,171000.0,154000.0,New York,NY,New York,NY,25,Data Scientist,Unknown

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 664 entries, 0 to 671
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              664 non-null    int64
 1   Job_Title          664 non-null    object
 2   Job_Description    664 non-null    object
 3   Rating             664 non-null    float64
 4   Company_Name       664 non-null    object
 5   Size               664 non-null    object
 6   Type_of_ownership  664 non-null    object
 7   Industry           664 non-null    object
 8   Sector             664 non-null    object
 9   Revenue            664 non-null    object
 10  Minimum_Salary     664 non-null    float64
 11  Maximum_Salary     664 non-null    float64
 12  Average_Salary     664 non-null    float64
 13  City               664 non-null    object
 14  Job State          664 non-null    object
 15  HQ_City            664 non-null    object
 16  Country_HQ         633 non-null    object
 17  company_age        664 non-null    int64
 18  job_title_simp     664 non-null    object
 19  Revenue_Category   664 non-null    object
dtypes: float64(4), int64(2), object(14)
memory usage: 108.9+ KB

In [ ]:
#Export to CSV
df.to_csv('GD_DS_Jobs_cleaned.csv', index=False)